@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}

#logo{
  float: left;
  text-decoration: none;
  color: #444;
}
#logo h1{
  font-size: 230%;
}
#menu{
  float: right;
}
#menu a{
  font-size: 116%;
  text-decoration: none;
  color: #444;
}
#menu a:hover{
  color: #111;
  border-bottom: 1px solid #222;
}
#logo, #menu{
  letter-spacing: 3px;
  line-height: 50px;
}
.active{
  border-bottom: 1px solid #666;
}
.left{
  float: left;
  width: 50%;
}
.idea{
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
section{
  overflow: hidden;
  position: relative;
}
.center{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
}